<h3>Foster Parent Information</h3>
<ul>
  <li><%= @foster_parent.first_name %> <%= @foster_parent.last_name %></li>
</ul>

<%= link_to "Edit Foster Parent's Information", edit_foster_parent_path(@foster_parent) %>
