<% if current_user.admin? %>
  <h3>All Cases</h3>
<% else %>
  <h3>My Cases</h3>
<% end %>

<ul>
<% @foster_kids.each do |foster_kid| %>
  <li><%= link_to foster_kid.first_name + " " + foster_kid.last_name, foster_kid_path(foster_kid) %></li>
<% end %>
</ul>
