h4 {
  text-align: center;
  margin-top: 10%;
}

.form {
  text-align: center;
  margin: auto;
  padding: 15px 30px 0;
}

.back-links {
  text-align: center;
  margin-bottom: 10%;
}

.first-radio-button {
  display:inline;
  margin-right: 0.9%;
}
