h4, h5 {
  text-align: center;
}

.actions {
  text-align: center;
}

.dashboard {
  border: 2px solid black;
}

.off-canvas {
  max-height: 100%;
}

.tab-title {
  padding: 2.5%;
}

.home-column {
  text-align: center;
}
